* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: #eeeeee;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 200;
  color: #3b414c;
  font-size: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app {
  white-space: nowrap;
  height: 100%;
}

.list {
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  height: 100%;
  width: 33%;
  padding: 0 20px;
  overflow: auto;
}

.list:not(:last-child):after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 99%;
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 50%, #eeeeee 100%) fixed;
}

.card {
  position: relative;
  z-index: 1;
  background: #ffffff;
  width: 100%;
  padding: 10px 10px 10px 15px;
  margin: 0 0 10px 0;
  overflow: auto;
  border: 1px solid #e5e5df;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.card__title {
  font-weight: bold;
  border-bottom: solid 5px transparent;
}

.card__title:before {
  display: inline-block;
  width: 1em;
  content: ">";
}

.card__title--is-open:before {
  content: "|";
}

.checklist__task:first-child {
  margin-top: 10px;
  padding-top: 10px;
  border-bottom: dashed 1px #dddddd;
}

.checklist__task--remove:after {
  display: inline-block;
  color: #dd6666;
  content: "x";
}

.checklist--add-task {
  border: 1px dashed #bbbbbb;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 3px;
}

/* react css transition group */
.toggle-enter {
  max-height: 0;
  overflow: hidden;
}

.toggle-enter.toggle-enter-active {
  max-height: 300px;
  overflow: hidden;
  transition: max-height .25s ease-in;
}

.toggle-leave {
  max-height: 300px;
  overflow: hidden;
}

.toggle-leave.toggle-leave-active {
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s ease-out;
}
